<div class="component list">
  <div class="row">
    <div class="col-md-6"><p>List works!</p></div>
    <div class="col-md-2 offset-md-4">
      <a class="btn btn-primary btn-sm" href="#" role="button" routerLink="new"
        >New</a
      >
    </div>
  </div>

  <!-- https://getbootstrap.com/docs/5.1/content/tables/ -->
  <table class="table table-striped table-hover">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>
          <a routerLink="{{ user.id }}">
            {{ user.firstName }} {{ user.lastName }}</a
          >
        </td>
        <td>{{ user.emailAdress }}</td>
      </tr>
    </tbody>
  </table>
</div>
