<div class="component list">
  <div class="row">
    <div class="col-md-6"><p>List works!</p></div>
    <div class="col-md-3 offset-md-3">
      <a class="btn btn-primary" href="#" role="button" routerLink="new">New</a>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <th>name</th>
      <th>link</th>
    </thead>
    <tbody>
      <tr>
        <td><a routerLink="1">User Een</a></td>
        <td>user-a@host.com</td>
      </tr>
      <tr>
        <td><a routerLink="2">User Twee</a></td>
        <td>user-a@host.com</td>
      </tr>
      <tr>
        <td><a routerLink="3">User Drie</a></td>
        <td>user-a@host.com</td>
      </tr>
    </tbody>
  </table>
</div>
