<div class="component edit">
  <div class="row">
    <div class="col-md-6"><p>Edit works!</p></div>
  </div>

  <h1>{{ user?.firstName }} {{ user?.lastName }}</h1>

  <div class="row">
    <div class="col-6">
      <input
        type="email"
        class="form-control"
        value="{{ user?.emailAdress }}"
        placeholder="Your email adress"
      />
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-6">
      <!-- Bij Save roepen we de save() functie aan, en navigeren
				terug naar details binnen die functie -->
      <button
        class="btn btn-primary btn-sm float-right"
        href="#"
        role="button"
        (click)="save()"
      >
        Save
      </button>
      <!-- Bij Cancel doen we nu nog niets, maar gaan gewoon terug naar de details -->
      <a
        class="btn btn-outline-secondary btn-sm float-right"
        href="#"
        role="button"
        routerLink=".."
        >Cancel</a
      >
    </div>
  </div>
</div>
