/* You can add global styles to this file, and also import other style files */

.component {
	border: 2px solid green;
	padding: 10px;
	margin: 5px;
}

.A {
	background-color: beige;
	height: 300px;
}

.B {
	background-color:darkseagreen;
	height: 400px;
}

.list {
	background-color:lightgreen;
	min-height: 300px;
}

.detail, .edit {
	background-color:lavender;
	min-height: 270px;
}

.edit {
	background-color:khaki;
}

.btn {
	margin-left: 10px;
}

.actieve-link {
	background-color:burlywood
}
