<div class="component list">
  <p>List works!</p>
  <table class="table table-bordered table-hover">
    <thead>
      <th>name</th>
      <th>link</th>
    </thead>
    <tbody>
      <tr>
        <td><a routerLink="1">User Een</a></td>
        <td>user-a@host.com</td>
      </tr>
      <tr>
        <td><a routerLink="2">User Twee</a></td>
        <td>user-a@host.com</td>
      </tr>
      <tr>
        <td><a routerLink="3">User Drie</a></td>
        <td>user-a@host.com</td>
      </tr>
    </tbody>
  </table>
</div>
